@charset "utf-8";
*{margin:0px auto;}
header, footer{background:#333;}
article{width:100%;height:100px;background:#ccc;}
main{margin:10px auto;}

@media screen and (min-width:1025px) {
  header, footer{
    width:1025px;height:100px;
    margin:0px auto;
  }
  main{
    width:1025px;
    display:grid;
    grid-gap:10px;
    grid-template-columns: auto auto auto;
  }
  .slide{grid-area:1/1/2/4;}
}
@media screen and (min-width:768px) and (max-width:1024px) {
  header, footer{width:100%;height:100px;}
  main{
    width:100%;
    display:grid;
    grid-gap:10px;
    grid-template-columns: auto auto auto;
  }
  .slide{grid-area:1/1/2/4;}
  .notice{grid-area:2/1/3/3;}
  .store{}
  .news{grid-area:3/1/4/4;}
}
@media screen and (max-width:767px) {
  header, footer{width:100%;height:100px;}
  main{
    width:100%;
  }
}
