@charset "utf-8";

/* 미디어쿼리 속성을 사용하여 각 디바이스별 배경색 적용하기*/
/*@mdeia screen and (가로크기 해상도){
    선택자{속성값:값;}
}*//* 모바일화면 - 0 ~ 767px안에서 적용되는 서식 */
@media screen and (max-width:767px) {
  
  .header_inner{
    width: 100%;
    height:70px;
    
    /*z-index: 1000;
    position: fixed;
    top: 0px;left: 0px;*/
    background-color: #fff;
  }
  .header_inner > h1{
    width: 140px;/*h1이 감싸고 있어서 
    네비게이션 토글바가 체크될수 있도록 설정*/
    text-align: center;
    margin: 0px auto;
    transform: translateY(5px);
  }

  .header_inner > h1 img{
    max-height: 60px;
    padding-top: 5px;
  }

  /*네비 서식*/
  /*헤더 - 전체메뉴버튼, 검색버튼*/
  .total_btn, i.m_search{
    display: inline;
    position: absolute;
    font-size: 1.876rem;
    padding: 14px;
    top: 6px;
    z-index: 3000;
  }
  .total_btn{left: 10px;}
  i.m_search{right: 10px;}
  
  /*닫기버튼, 서브메뉴 아이콘 보이게*/
  i.fa-times, i.fa-angle-down{
    display: inline;
    color: #fff;
  }
  i.fa-times{
    position: absolute;
    right: 10px;top: 10px;
    font-size: 1.876rem;
    padding: 14px;
    z-index: 4000;
    transition:1s;/*닫기버튼 회전시 속도*/
  }
  /*닫기버튼 회전*/
  i.fa-times:hover{
    transform: rotate(180deg);
  }
  
  /*네비게이션 서식*/
  .gnb{
    position: fixed;
    width: 100%;height: 100%;
    top: 40px;left: -100%;/*네비게이션 작동시 움직임*/
    background-color: rgba(0,0,0,.7);
    padding: 50px 1.5% 0px 1.5%;
    box-sizing: border-box;
    transition:0.3s;/*자연스러운 네비게이션*/
    z-index: 3500;
   
  }
  
  .gnb > h3{
    display:none;
    /*color: rgb(255,242,63);
    font-size: 1.250rem;/*20px
    text-transform: uppercase;
    transform: translate(10px,40px);*/
  }
  .gnb > ul {
    width :100%;
    padding-top: 50px;
    /*position:relative;top:50px;*/
    /*transform : translateY(50px);*/
    display: block;

  }
  .gnb > ul > li {
    text-align: left;
    border-bottom: 1px solid rgb(231,231,231);
  }
  .gnb > ul > li > a{
    color: #fff;
    display: block;
    line-height: 280%;
    font-size: 1rem;
  }
  .gnb > ul > li > a:hover{color: #fff;}
  .gnb > ul > li > a::after{background: none;}
  .gnb:hover{height: 100%;}
  
  i.fa-angle-down{
    float: right;
    font-size: 1.3rem;
    transform: translateY(10px);
  }
  .sub{display:none;}
  .sub a{color:#fff;}
  
  /*lnb서식*/
  .lnb{
    position: fixed;width: 100%;
    top: 380px;left: -100%;/*네비게이션 작동시 움직임*/
    z-index: 4000;
    padding-top: 20px;
    transition: 0.3s;/*자연스러운 네비게이션*/
  }
  .lnb > ul{
    width: 80%;
    margin: 0px auto;
    display: block;
  }
  .lnb > ul > li{
    display: inline-block;
    width: 49%;background-color: rgb(107,107,107);
    text-align: center;
    margin-bottom: 5px;
  }
 .lnb > ul > li > a{
    color: #fff;
    display: block;
    line-height: 300%;
    text-transform: uppercase;
    border: none;
  }
  .lnb > ul > li:nth-child(3) > a{
    color: #fff;
  }

  /*검색 양식*/
  .lnb > ul > li:last-child input{
    position: fixed;
    height: 30px;
  }
  .lnb > ul > li:last-child i.fa-search{
    color: #fff;
    font-size: 2rem;
    z-index: 10;
    
  }
  /*small화면(320)일때 서식(개발자모드 활용)*/
  @media screen and (min-width:320px)and
   (max-width:360px){
    .lnb > ul > li:last-child input{
      position: absolute;
      top: -328px;left: 24%;
    }
    .lnb > ul > li:last-child i.fa-search{
      position: absolute;
      top: -328px;left: 79%;
    }
  }
  /*small화면(360)일때 서식(개발자모드 활용)*/
  @media screen and (min-width:360px) and
  (max-width:415px){
    .lnb > ul > li:last-child input{
      position: absolute;
      top: -328px;left: 29%;
    }
    .lnb > ul > li:last-child i.fa-search{
      position: absolute;
      top: -328px;left: 78%;
    }
  }
  @media screen and (min-width:415px) and
  (max-width:767px){
    .lnb > ul > li:last-child input{
      position: absolute;
      top: -328px;left: 31%;
    }
    .lnb > ul > li:last-child i.fa-search{
      position: absolute;
      top: -328px;left: 75%;
    }
    
  }
  @media screen and (min-width:767px){
    .lnb > ul > li:last-child input{
      position: absolute;
      top: -328px;left: 39%;
    }
    .lnb > ul > li:last-child i.fa-search{
      position: absolute;
      top: -328px;left: 62%;
    }
  }
  
  
  /*토글버튼이 체크되었을때 네비게이션이 나온다
  lnb에서 h1이 감싸고 있어서 h1을 가로값을 준다
  #toggle:checked +(형제) header >(부모) .gnb*/
  #toggle:checked + header > .gnb{left:0%;}
  #toggle:checked + header > .header_inner > .lnb{left:0%;}
    
  
  /*메인 서식*/
  main{}
  .slide{
    width:100%;
  }

  /*pc와 모바일(세로:800정도)의 이미지를 따로 설정*/
  .pc_slide{display: none;}
  .m_slide{display: block;}
  
  /*article{background: #ffff00;}*/

  .cont{
    width: 100%;
    display: grid;
    box-sizing: border-box;
    /*grid-gap: 1.4648%;*/
    padding: 0px 0px;
    grid-template-columns: 100%;
    grid-template-areas:
      "s_order" 
      "b_writing"
      "tum"
      "store"
      "notice"
      "news"
    ;
  }

  .cont img{
    width: 100%;/*자동 이미지 크기 조절 : 
    이미지크기 저장할때 *2,*3으로 어도비에서 저장*/
  }
  
  .s_order{
    text-align: center;
    grid-area:s_order ;
  }
  .s_order img{width: 100%;
    /*max-width: 380px;*/
  }
  .b_writing{
    grid-area: b_writing;
    width: 100%;
    text-align: center;
  }
  
  
  
  .b_writing img{
    /*max-width: 380px;*/
  }
  .tum{
    text-align:center;
    grid-area: tum;
  }
  .tum img{}
  .notice{
    grid-area:notice ;
  }
  .store{
    grid-area:store ;
    
  }
  
  .news{
    grid-area:news ;
  }
  article{
    /* width:320px;
    margin:0px auto; */
  }
  article > ul > li{width: 96%;}
  
  
  
  /*푸터 서식*/
  footer{width: 100%;}
  .f_lnb{padding-top: 60px;}
  .f_lnb > ul{display: block;}
  .f_lnb > ul >li{
    display: inline;
    line-height: 160%;
  }
  
  .sns{
    width: 100%;
    text-align: center;
   
  }
  
  address{
    padding-top: 25px;
    text-align: center;
  }
  address > p{
    width: 100%;
   line-height: 120%;
    clear: both;
  }
  @media screen and (min-width:730px) and 
  (max-width:767px) {
    footer{
      margin-top: 100px;
      text-align: center;
    }
    .f_lnb > ul{
      display: flex;
      
    }
    .sns{
      width: 200px;
      left: 50%;
      transform: translate(-50%, -10%);
    }
    
  }
  @media screen and (min-width:580px) and 
  (max-width:730px) {
    footer{
      margin-top: 100px;
      text-align: center;
    }
    .f_lnb > ul >li{
    display: inline;
    line-height: 160%;
    
    
    }
    .f_lnb > ul  a{
      padding: 0px 10px;
      border-right: 1px solid #ccc;
    }
    .sns{
      width: 200px;
      left: 50%;
      transform: translate(-50%, -10%);
    }
    
  }

  @media screen and (min-width:320px) and 
  (max-width:580px) {
  
    .f_lnb01{padding-top: 10px;}
    .f_lnb01 > ul {text-align: center;}
    .f_lnb01 > ul > li{
      display: inline;
      line-height: 100%;
    }

    .f_lnb01 > ul > li:last-child{
      position: absolute;
      top: 190px; 
    }
    .f_logo{
      padding-top: 20px;
      position: relative;
      top: -160px;
    }
      
  }
}


  